@model CityWeather

@{
    CityWeather cityWeather = Model;
}

<!DOCTYPE html>
<html>
    <head>
        <title>City Details</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet"/>
    </head>
    <body>
        <h1>Weather</h1>

        @if (Model is null) {
            <div class="page-content margin-auto ">
                <p class="text-red">The city code is not valid!</p>
            </div>
        } else {
            <div class="page-content margin-auto w-30">
                <div class="margin-top-200">
                    <div class="box flex-borderless margin-right">
                        <div style="border-right: 3px solid grey;" class="w-50">
                            <h4 style="font-weight: bold;">@cityWeather.CityName</h4>
                            <p class="text-dark-grey">@cityWeather.HoursAmPm</p>
                            <p><a href="/weather/@cityWeather.CityUniqueCode">Details</a></p>
                        </div>
                        <div class="w-50">
                            <p style="font-weight:bold; display: inline;" class="margin-left">
                                <span style="font-size: 30px;">@cityWeather.TemperatureFahrenheit</span>
                                <span class="text-grey margin-bottom"
                                      style="font-weight: bold;">F</span>
                            </p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/" class="text-center">Back to Weather Home Page</a>
                    </div>
                </div>
            </div>
        }
    </body>
</html>
