@model IEnumerable<CityWeather>

<h1 class="margin-bottom">Weather</h1>

<div class="margin-left margin-top-200">
    <div class="flex">
        @foreach (CityWeather cityWeather in Model)
        {
            @await Component.InvokeAsync("CityDetails", new { CityWeather = cityWeather })
        }
    </div>
</div>