<!DOCTYPE html>
<html>
<head>
    <title>Invalid City Code</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Weather</h1>

    <div class="page-content margin-auto ">
        <p class="text-red">The city code is not valid!</p>
    </div>
</body>
</html>
